/* reset css */
body {
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0px;
    padding: 0px;
  }
  
  ul,
  ol,
  li {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .btn,
  button,
  button:focus,
  input:focus,
  textarea:focus,
  select,
  select:focus,
  a:focus {
    outline: 0px !important;
  }
  
  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  
  button[disabled] {
    pointer-events: none;
  }
  
  input {
    padding: 0;
  }
  
  input:required {
    box-shadow: none;
  }
  
  input:invalid {
    box-shadow: none;
  }
  
  ::-webkit-scrollbar {
    /* make scrollbar transparent */
    width: 0px;
    background: transparent;
  }
  
  .font-16 {
    font-size: 2rem;
  }
  
  /* basic setting */
  
  
  
  $body-bg: #FFFFFF;
  $body-color: #2A2A2A;
  $white: #fff;
  $btn-pink: #F67599;
  $dark-gray: #4a4a4a;
  $light-gray: #AFB1BD;
  $pale-gray: #F0F0F5;
  $footer-color-gray:#808080;
  $cart-panel-bg: #FFFFFF;
  
   $body-bg-dark: #121212;
   $body-color-dark: #FFFFFF;
   $white-dark: #fff;
   $btn-pink-dark: #F67599;
   $dark-gray-dark: #4a4a4a;
   $light-gray-dark: #AFB1BD;
   $pale-gray-dark: #F0F0F5;
   $footer-color-gray-dark:#808080;
   $cart-panel-bg-dark: #383838;
  
  :root {
    --body-bg: #FFFFFF;
    --body-color: #2A2A2A;
    --white: #fff;
    --btn-pink: #F67599;
    --stepper-circle-bg:#2A2A2A;
    --dark-gray:  #4a4a4a;
    --light-gray: #AFB1BD;
    --pale-gray: #F0F0F5;
    --footer-color-gray: #808080;
    --cart-panel-bg: #383838;
    --input-radio: #2A2A2A;
    --input-radio-bg: #FFFFFF;
  }
  
  [ data-theme="dark" ]{
    --body-bg: #121212;
    --body-color: #FFFFFF;
    --white: #fff;
    --btn-pink: #F67599;
    --stepper-circle-bg:#333333;
    --dark-gray: #4a4a4a;
    --light-gray: #AFB1BD;
    --pale-gray: #4a4a4a;
    --footer-color-gray: #808080;
    --cart-panel-bg: #383838;
    --input-radio:#4a4a4a;
    --input-radio-bg: #4a4a4a;
  }
  
  a,
  a:hover,
  a:focus {
    color: var(--body-color);
  }
  
  $sizes: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%
  );
  
  /* 使用@each 產出css size設定 */
    
  
  $spacer: 1rem;
  $spacers: (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: (
      $spacer * 0.75
    ),
    4: $spacer,
    5: (
      $spacer * 1.25
    ),
    6: (
      $spacer * 1.5
    ),
    7: (
      $spacer * 1.75
    ),
    8: (
      $spacer * 2
    )
  );
  
  /* 使用@each 產出css spacer設定 */
  
  %standard-boxshadow {
    box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
  }
  
  %input-style {
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    font-size: 12px;
    padding: 1rem;
    &:hover, &:focus {
       border-color: var(--dark-gray);
    }
  }
  
  html {
    font-size: 12px;
    height: 100%;
  }
  
  body {
    height: 100%;
    background: var(--body-bg);
    color: var(--body-color);
    font-family: "Noto Sans TC";
  }
  
  .d-none {
    display: none;
  }
  
  .d-inline {
    display: inline;
  }
  
  .d-inline-block {
    display: inline-blockt;
  }
  
  .d-block {
    display: block;
  }
  
  .d-flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .justify-content-start {
    justify-content: flex-start;
  }
  
  .justify-content-end {
    justify-content: flex-end;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .justify-content-around {
    justify-content: space-around;
  }
  
  .align-content-start {
    align-content: flex-start;
  }
  
  .align-content-end {
    align-content: flex-end;
  }
  
  .align-content-center {
    align-content: center;
  }
  
  .align-items-start {
    align-items: flex-start;
  }
  
  .align-items-end {
    align-items: flex-end;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-left {
    text-align: left;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  @mixin getNumbers($num){
    @for $i from 1 through $num{
      &:nth-child(#{2 * $i - 1 }) .circle::after {
        content:"#{$i}";
      }
    }
  }
  